
.show {display:block;}

.dropdown-content a:hover {background-color: #ddd}

.dropdown-content {
   display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; }

 
  .line{
    width: 343px;
    border: 1px solid #52AAF7;
    margin-left: 521px;
  }
  .menu{ 
    font-size: 26px;
    cursor: pointer;
    display: flex;
    width: 400px;
    justify-content: space-around;
    margin-left: 514px;
}
   .menu :hover{ color:#52AAF7 ; }


   .dropdown {
    position: relative;
    display: inline-block;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:45px;
    right:0px;
    width: 200px;
    background-color: white;
  font-size: 20px;
    position: absolute;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
li a {
    color: #000;
    text-decoration: none;
   
}
li {
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
}
li:last-child {
    border-bottom: none;
}
li:hover {
    background-color: #e5e5e5;
    color: white;
}
